%main.container
  %h1.general-title-margin= t('orders.checkout')
  %ul.steps.list-inline
    - wizard_steps.each_with_index  do |checkout_step, number|
      - if current_step? checkout_step
        = link_to wizard_path(checkout_step), class: 'step active' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.capitalize
        %li.step-divider
      - else
        = link_to wizard_path(checkout_step), class: 'step' do
          %span.step-number= number + 1
          %span.step-text.hidden-xs= checkout_step.to_s.capitalize
        %li.step-divider