%main.container
  = link_to(request.referer.present? ? request.referer : root_path, class: 'general-back-link') do
    %i.fa.fa-long-arrow-left.mr-15
    = t('books.show.back')
  .row
    .col-sm-6
      .product-gallery
        .mb-20
          %img.img-responsive{src: 'https://www.bramstein.com/static/smashing-book-5-photo-stack.9d5d114e3e.jpg'}
        .images.clearfix
          %a.img-link{href: '#'}
            %img{src: 'https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg'}
          %a.img-link{href: '#'}
            %img{src: 'https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg'}
          %a.img-link{href: '#'}
            %img{src: 'https://www.smashingmagazine.com/wp-content/uploads/2015/09/smashing-book-5-2-large.jpg'}
    .col-sm-6
      %h1.mt-res-0= @book.name
      %p.lead.small= @book.all_authors
      .row
        .col-xs-12.col-md-4
          %p.h1.in-gold-500.mt-10
            = "€#{@book.price}"
        = form_for @book, url: cart_path(@book), html: { method: :put} do |f|
          .col-xs-5.col-md-3
            .input-group.general-position
              %a.input-link{href: '#'}
                %i.fa.fa-minus.line-height-40
              = f.text_field :quantity, class: 'form-control quantity-input', value: 1, pattern: '[0-9]*'
              %a.input-link{href: '#'}
                %i.fa.fa-plus.line-height-40
          .col-xs-7.col-md-5
            = f.submit t('books.show.cart_add'), class: 'btn btn-default pull-right general-position'
      .general-info-wrap.divider-lg
        %p= t('books.show.description')
        %p.lead.small.line-height-2
          = @book.description
          %a.in-gold-500.ml-10{href: '#'}= t('books.show.read_more')
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.show.publication_year')
          %p.lead.small.pull-right= @book.publication_year
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.show.dimensions')
          %p.lead.small.pull-right= @book.total_dimensions
      .general-info-wrap.divider-lg
        .clearfix
          %p.pull-left= t('books.show.materials')
          %p.lead.small.pull-right Hardcove, glossy paper
  .mb-80
    %h3.in-gold-500.mb-25
      #{t('books.show.reviews')}(#{@book.reviews.length})
    - approved_reviews(@book).each_with_index do |review|
      .general-message-wrap.divider-lg
        .clearfix
          %span.img-circle.logo-size.inlide-block.pull-left.logo-empty
            = review.name.capitalize.first
          .ml-70
            %div
              .general-message-date.hidden-xs= date(review.created_at)
              .max-240
                - unless review.user.nil?
                  .general-message-verified.pull-right= t('books.show.verified')
                .general-message-name= review.name
            .mb-15
              - review.rating.to_i.times do
                %i.fa.fa-star.rate-star
              - (5 - review.rating.to_i).times do
                %i.fa.fa-star.rate-star.rate-empty
            %p= review.comment_text

    %h3.in-gold-500.mb-25 Write a review
    .general-review-wrap.divider-lg
    = form_for :review, url: book_reviews_path(@book), html: { method: :post} do |f|
      %h4.general-review-h Score
      .mb-15
        %fieldset
          %span.star-cb-group
            - 5.downto(1) do |num|
              - if num == 4
                = f.radio_button :rating, num, id:"rating-#{num}", checked: true
              - else
                = f.radio_button :rating, num, id:"rating-#{num}"
              %label{for: "rating-#{num}"}
      .form-group.general-w-50
        = f.label :name, html: {:class => 'control-label input-label', 'data-bar' => 'Enter your name'}
        = f.text_field :name, class: 'form-control', placeholder: 'John Doe'
      .form-group.general-w-50
        = f.label :comment_text, html: {:class => 'control-label input-label', 'data-bar' => 'Enter text of review'}
        = f.text_area :comment_text, size: '30x10', class: 'form-control', placeholder: 'Everything is awesome'
      .col-xs-8.col-md-3
        = f.submit 'Post', class: 'btn btn-default pull-right general-position'



