%main.container
  #slider.carousel.slide{'data-ride': 'carousel'}
    %ol.carousel-indicators
      %li.active{'data-target': '#slider', 'data-slide-to': '0'}
      %li{'data-target': '#slider', 'data-slide-to': '1'}
    .carousel-inner{role: 'listbox'}
      - newest_books.each_with_index do |book, key|
        - if key == 0
          = render 'home/active_slider_item', book: book
        - else
          = render 'home/slider_item', book: book
    %a.left.carousel-control{href: '#slider', role: 'button', 'data-slide': 'prev'}
      %span.icon-prev{'aria-hidden': 'true'}
      %span.sr-only= t('categories.previous')
    %a.right.carousel-control{href: '#slider', role: 'button', 'data-slide': 'next'}
      %span.icon-next{'aria-hidden': 'true'}
      %span.sr-only= t('categories.next')
.container
  .jumbotron.text-center.mb-0
    %h2.h1= t('categories.greetings')
    .mb-res-501
      %p= t('categories.our_work')
    = link_to t('categories.get_started'), category_books_path(@category), class: 'btn btn-default'
  .mb-35
    %h3= t('categories.best')
    .row
      - bestsellers.each do |book|
        = render 'home/bestseller_item', book: book
